<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abubakar Mulla, Software Engineer</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/img/am.ico" type="image/x-icon">
</head>

<body>
    <div class="body-and-footer">
        <div class="website-body about-body">
            <div class="navbar navbar-go">
                <nav>
                    <img id="photo" src="../static/img/My_Photo_navbar.jpeg" alt="Abubakar_Img">
                    <h2 id="name">Abubakar Mulla</h2>
                    <ul>
                        <li><a href="/portfolio">Home</a></li>
                        <li><a href="/portfolio/about">About Me</a></li>
                        <li><a href="/portfolio/timeline">Timeline</a></li>
                        <li><a href="/portfolio/projects">Projects</a></li>
                        <li><a href="/portfolio/achievements">Achievements</a></li>
                        <li><a href="/portfolio/contact-us">Contact Me</a></li>
                    </ul>
                </nav>
            </div>
            <div class="main">
                <div class="hamburger">
                    <img src="../static/img/hamburger.png" alt="hamburger" class="ham" width="27px">
                    <img src="../static/img/cross.jpg" alt="cross" class="cross" width="27px">
                </div>
                <div class="about-container">
                    <div class="about-me">
                        <div class="about-title" ondblclick="dblclick(this)">About <b>Me</b></div>
                        <div class="about-text">Hey,
                            I am Abubakar Mulla, currently embarking my career from BLDEA's V P Dr PG Halakatti College
                            of
                            Engineering & Technology, Vijaypur, Karnataka, India. I am a Certified Python Developer and
                            a
                            Beginner Web developer. I am currently looking for opportunities to build my career, that
                            would
                            help me in achieving greater practical excellence in the software industry. Apart from
                            technical
                            skills I love reading books and blogs. I do often play games and make games too. I love
                            project
                            work and interacting with new peoples.</div>
                    </div>
                    <div class="my-skills">
                        <div class="skill-title" ondblclick="dblclick(this)">My Skills</div>
                        <div class="skill-data">
                            <div class="skill-data-1">
                                <div class="skill">Python</div>
                                <div class="skill-level scaling">
                                    <div class="skill-percent">70%</div>
                                    <div class="skill-level-bar">
                                        <div class="skill-level-bar-contain">
                                            <div class="skill-level-bar-taken" id="python"></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="skill">HTML</div>
                                <div class="skill-level scaling">
                                    <div class="skill-percent">70%</div>
                                    <div class="skill-level-bar">
                                        <div class="skill-level-bar-contain">
                                            <div class="skill-level-bar-taken" id="html"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill">C</div>
                                <div class="skill-level scaling">
                                    <div class="skill-percent">50%</div>
                                    <div class="skill-level-bar">
                                        <div class="skill-level-bar-contain">
                                            <div class="skill-level-bar-taken" id="c"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill">Git/GitHub</div>
                                <div class="skill-level scaling">
                                    <div class="skill-percent">60%</div>
                                    <div class="skill-level-bar">
                                        <div class="skill-level-bar-contain">
                                            <div class="skill-level-bar-taken" id="git-github"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill">PHP</div>
                                <div class="skill-level scaling">
                                    <div class="skill-percent">30%</div>
                                    <div class="skill-level-bar">
                                        <div class="skill-level-bar-contain">
                                            <div class="skill-level-bar-taken" id="php"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-data-2">
                                <div class="skill">Java</div>
                                <div class="skill-level scaling">
                                    <div class="skill-percent">50%</div>
                                    <div class="skill-level-bar">
                                        <div class="skill-level-bar-contain">
                                            <div class="skill-level-bar-taken" id="java"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill">CSS</div>
                                <div class="skill-level scaling">
                                    <div class="skill-percent">50%</div>
                                    <div class="skill-level-bar">
                                        <div class="skill-level-bar-contain">
                                            <div class="skill-level-bar-taken" id="css"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill">JavaScript</div>
                                <div class="skill-level scaling">
                                    <div class="skill-percent">30%</div>
                                    <div class="skill-level-bar">
                                        <div class="skill-level-bar-contain">
                                            <div class="skill-level-bar-taken" id="javascript"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill">MySQL</div>
                                <div class="skill-level scaling">
                                    <div class="skill-percent">60%</div>
                                    <div class="skill-level-bar">
                                        <div class="skill-level-bar-contain">
                                            <div class="skill-level-bar-taken" id="mysql"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-contain about-footer">
            <footer>
                <div class="footer-myinfo">
                    <h2 ondblclick="dblclick(this)">Abubakar Mulla</h2>
                    <p>Certified Python Developer and a Beginner Web developer</p>
                    <em>For more info contact me</em>
                    <div class="footer-info-icons">
                        <a href="https://github.com/abubakarmulla" target="_blank"><i class="fa fa-github fa-2x scaling"></i></a>
                        <a href="https://twitter.com/abubakarnmulla" target="_blank"><i class="fa fa-twitter fa-2x scaling"></i></a>
                        <a href="https://www.linkedin.com/in/abubakarmulla23/" target="_blank"><i class="fa fa-linkedin fa-2x scaling"></i></a>
                        <a href="https://www.facebook.com/people/Abubakar-Mulla/100077491524959/" target="_blank"><i class="fa fa-facebook fa-2x scaling"></i></a>
                    </div>
                </div>
                <div class="copyright-info">
                    <p>Copyright &copy;2022 AbubakarMulla, All rights reserved</p>
                    <p>Designed by</p>
                    <a href="https://github.com/abubakarmulla" target="_blank">Abubakar Mulla</a>
                </div>
            </footer>
        </div>
    </div>
    <script src="../static/js/main.js"></script>
</body>

</html>