<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abubakar Mulla, Software Engineer</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/img/am.ico" type="image/x-icon">
</head>

<body>
    <div class="body-and-footer">
        <div class="website-body achievements-body">
            <div class="navbar navbar-go">
                <nav>
                    <img id="photo" src="../static/img/My_Photo_navbar.jpeg" alt="Abubakar_Img">
                    <h2 id="name">Abubakar Mulla</h2>
                    <ul>
                        <li><a href="/portfolio">Home</a></li>
                        <li><a href="/portfolio/about">About Me</a></li>
                        <li><a href="/portfolio/timeline">Timeline</a></li>
                        <li><a href="/portfolio/projects">Projects</a></li>
                        <li><a href="/portfolio/achievements">Achievements</a></li>
                        <li><a href="/portfolio/contact-us">Contact Me</a></li>
                    </ul>
                </nav>
            </div>
            <div class="main">
                <div class="hamburger">
                    <img src="../static/img/hamburger.png" alt="hamburger" class="ham" width="27px">
                    <img src="../static/img/cross.jpg" alt="cross" class="cross" width="27px">
                </div>
                <div class="ach-contain">
                    <div class="ach-title">Achievements</div>
                    <div class="certificate-contain">
                        <div class="certify-contain-title">Certifications</div>
                        <div class="certify-row">
                            <div class="certificate">
                                <div class="certify-logo"><img src="../static/img/py.png" alt="python-basics"></div>
                                <div class="certificate-title">Programming for Everybody
                                    (Python)</div>
                                <div class="certificate-info">Successfully learned completed python beginner
                                    certification course</div>
                                <div class="certify-link"><a href="http://coursera.org/verify/Z36B2MTNF8XZ"
                                        target="_blank">Verify</a></div>
                            </div>
                            <div class="certificate">
                                <div class="certify-logo"><img src="../static/img/py-ds.jpg" alt="python-DS"></div>
                                <div class="certificate-title">Python Data Structures</div>
                                <div class="certificate-info">Successfully learned and completed python advance data
                                    structure certification course</div>
                                <div class="certify-link"><a href="http://coursera.org/verify/EAPJCKAA246Q"
                                        target="_blank">Verify</a></div>
                            </div>
                            <div class="certificate">
                                <div class="certify-logo"><img src="../static/img/pygame.png" alt="pygame-basics"></div>
                                <div class="certificate-title">Game Development Using PyGame</div>
                                <div class="certificate-info">Successfully learned and completed python pygame library
                                    certification</div>
                                <div class="certify-link"><a href="http://coursera.org/verify/SLF79X9EKJ23"
                                        target="_blank">Verify</a></div>
                            </div>
                        </div>
                        <div class="certify-row">
                            <div class="certificate">
                                <div class="certify-logo"><img src="../static/img/geo-py-isro.jpg" alt="geo-processing"></div>
                                <div class="certificate-title">Overview of Geoprocessing using Python</div>
                                <div class="certificate-info">Successfully learned and completed Geoprocessing using
                                    python certification course conducted by ISRO</div>
                                <div class="certify-link"><a
                                        href="https://github.com/abubakarmulla/Geoprocessing-using-Python-by-ISRO/blob/master/certificate.pdf"
                                        target="_blank">Verify</a></div>
                            </div>
                            <div class="certificate">
                                <div class="certify-logo"><img src="../static/img/js.jpg" alt="javascript-basics"></div>
                                <div class="certificate-title">Learn JavaScript basics</div>
                                <div class="certificate-info">Successfully learned and completed JavaScript beginner
                                    certification</div>
                                <div class="certify-link"><a href="http://coursera.org/verify/AUAUJ8VSXZ6C"
                                        target="_blank">Verify</a></div>
                            </div>
                            <div class="certificate">
                                <div class="certify-logo"><img src="../static/img/py-badge.jpg" alt="Python Skill badge"></div>
                                <div class="certificate-title">Python Skill Badge(LinkedIn)</div>
                                <div class="certificate-info">Secured skill badge for python programming language on
                                    LinkedIn, for more info connect with me on LinkedIn</div>
                                <div class="certify-link"><a href="https://www.linkedin.com/in/abubakarmulla23/"
                                        target="_blank">Verify</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="certificate-contain other">
                        <div class="certify-contain-title">Other achievements/ activities</div>
                        <div class="certify-row">
                            <div class="certificate">
                                <div class="certify-logo"><img src="../static/img/pyweek32.jpg" alt="pyweek32 contest"></div>
                                <div class="certificate-title">PyWeek32 Contest</div>
                                <div class="certificate-info">Successfully Participated in pyweek-32 game development
                                    contest conducted by python software foundation and got <u>21st rank</u></div>
                                <div class="certify-link"><a href="https://pyweek.org/e/space-beast/"
                                        target="_blank">Verify</a></div>
                            </div>
                            <div class="certificate">
                                <div class="certify-logo"><img src="../static/img/android.jpg" alt="android basics"></div>
                                <div class="certificate-title">Android Basics Workshop</div>
                                <div class="certificate-info">Successfully participated in workshop on Android
                                    Fundamentals organised by CSE department of BLDEACET</div>
                                <div class="certify-link"><a
                                        href="https://github.com/abubakarmulla/android-workshop-certificate/blob/main/Certificate.pdf"
                                        target="_blank">Verify</a></div>
                            </div>
                            <div class="certificate">
                                <div class="certify-logo"><img src="../static/img/4_0 bootcamp.jpg" alt="4_0 bootcamp"></div>
                                <div class="certificate-title">4.0 tech online bootcamp</div>
                                <div class="certificate-info">Successfully participated in 4.0 tech online bootcamp
                                    conducted by CCBP 4.0 tech community</div>
                                <div class="certify-link"><a
                                        href="https://certificates.ccbp.in/4-0-tech-bootcamp?id=TMO4MS7V0Z"
                                        target="_blank">Verify</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-contain">
            <footer>
                <div class="footer-myinfo">
                    <h2 ondblclick="dblclick(this)">Abubakar Mulla</h2>
                    <p>Certified Python Developer and a Beginner Web developer</p>
                    <em>For more info contact me</em>
                    <div class="footer-info-icons">
                        <a href="https://github.com/abubakarmulla" target="_blank"><i
                                class="fa fa-github fa-2x scaling"></i></a>
                        <a href="https://twitter.com/abubakarnmulla" target="_blank"><i
                                class="fa fa-twitter fa-2x scaling"></i></a>
                        <a href="https://www.linkedin.com/in/abubakarmulla23/" target="_blank"><i
                                class="fa fa-linkedin fa-2x scaling"></i></a>
                        <a href="https://www.facebook.com/people/Abubakar-Mulla/100077491524959/" target="_blank"><i
                                class="fa fa-facebook fa-2x scaling"></i></a>
                    </div>
                </div>
                <div class="copyright-info">
                    <p>Copyright &copy;2022 AbubakarMulla, All rights reserved</p>
                    <p>Designed by</p>
                    <a href="https://github.com/abubakarmulla" target="_blank">Abubakar Mulla</a>
                </div>
            </footer>
        </div>
    </div>
    <script src="../static/js/main.js"></script>
</body>

</html>