<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abubakar Mulla, Software Engineer</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/img/am.ico" type="image/x-icon">
    <script src="../static/js/main.js"></script>
</head>

<body>
    <div class="body-and-footer">
        <div class="website-body">
            <div class="navbar navbar-go">
                <nav>
                    <img id="photo" src="../static/img/My_Photo_navbar.jpeg" alt="Abubakar_Img">
                    <h2 id="name">Abubakar Mulla</h2>
                    <ul>
                        <li><a href="/portfolio">Home</a></li>
                        <li><a href="/portfolio/about">About Me</a></li>
                        <li><a href="/portfolio/timeline">Timeline</a></li>
                        <li><a href="/portfolio/projects">Projects</a></li>
                        <li><a href="/portfolio/achievements">Achievements</a></li>
                        <li><a href="/portfolio/contact-us">Contact Me</a></li>
                    </ul>
                </nav>
            </div>
            <div class="main">
                <div class="hamburger">
                    <img src="../static/img/hamburger.png" alt="hamburger" class="ham" width="27px">
                    <img src="../static/img/cross.jpg" alt="cross" class="cross" width="27px">
                </div>
                <div class="index-info">
                    <div class="index-dev-info">
                        <h2>Hi, I am</h2>
                        <h1 ondblclick="dblclick(this)" onmouseenter="mouse_enter(this)" onmouseleave="mouse_leave(this)">Abubakar Mulla</h1>
                        <h3>Software Developer</h3>
                        <h3>Certified Python Developer</h3>
                        <h3>Beginner Web Developer</h3>
                        <div class="butt">
                            <a href="https://docs.google.com/document/d/13h6w56AOwO61bscqL6gprxpMHqFlnHiQ/view" target="_blank"><button type="button">Download
                                    CV</button></a>
                            <a href="/portfolio/contact-us"><button type="button">Contact Me</button></a>
                        </div>
                        <div class="social-links">
                            <a href="https://www.linkedin.com/in/abubakarmulla23/" target="_blank"><img
                                    src="../static/img/linkedin.png" alt="linkedin-logo"></a>
                            <a href="https://github.com/abubakarmulla" target="_blank"><img src="../static/img/github.png"
                                    alt="github-logo"></a>
                            <a href="https://twitter.com/abubakarnmulla" target="_blank"><img src="../static/img/twitter.png"
                                    alt="twitter-logo"></a>
                        </div>
                    </div>
                    <div class="index-dev-photo">
                        <img src="../static/img/My_Photo.jpeg" alt="My photo">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-contain">
            <footer>
                <div class="footer-myinfo">
                    <h2 ondblclick="dblclick(this)">Abubakar Mulla</h2>
                    <p>Certified Python Developer and a Beginner Web developer</p>
                    <em>For more info contact me</em>
                    <div class="footer-info-icons">
                        <a href="https://github.com/abubakarmulla" target="_blank"><i class="fa fa-github fa-2x scaling"></i></a>
                        <a href="https://twitter.com/abubakarnmulla" target="_blank"><i class="fa fa-twitter fa-2x scaling"></i></a>
                        <a href="https://www.linkedin.com/in/abubakarmulla23/" target="_blank"><i class="fa fa-linkedin fa-2x scaling"></i></a>
                        <a href="https://www.facebook.com/people/Abubakar-Mulla/100077491524959/" target="_blank"><i class="fa fa-facebook fa-2x scaling"></i></a>
                    </div>
                </div>
                <div class="copyright-info">
                    <p>Copyright &copy;2022 AbubakarMulla, All rights reserved</p>
                    <p>Designed by</p>
                    <a href="https://github.com/abubakarmulla" target="_blank">Abubakar Mulla</a>
                </div>
            </footer>
        </div>
    </div>
    <script src="../static/js/main.js"></script>
</body>

</html>