<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abubakar Mulla, Software Engineer</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/img/am.ico" type="image/x-icon">
</head>

<body>
    <div class="body-and-footer">
        <div class="website-body project-body">
            <div class="navbar navbar-go">
                <nav>
                    <img id="photo" src="../static/img/My_Photo_navbar.jpeg" alt="Abubakar_Img">
                    <h2 id="name">Abubakar Mulla</h2>
                    <ul>
                        <li><a href="/portfolio">Home</a></li>
                        <li><a href="/portfolio/about">About Me</a></li>
                        <li><a href="/portfolio/timeline">Timeline</a></li>
                        <li><a href="/portfolio/projects">Projects</a></li>
                        <li><a href="/portfolio/achievements">Achievements</a></li>
                        <li><a href="/portfolio/contact-us">Contact Me</a></li>
                    </ul>
                </nav>
            </div>
            <div class="main">
                <div class="hamburger">
                    <img src="../static/img/hamburger.png" alt="hamburger" class="ham" width="27px">
                    <img src="../static/img/cross.jpg" alt="cross" class="cross" width="27px">
                </div>
                <div class="projects-contain">
                    <div class="project-title">Projects</div>
                    <div class="projects-list">
                        <div class="project">
                            <img src="../static/img/project1.png" alt="project1">
                            <div class="pr-details">
                                <div class="tech-used">HTML+CSS+JS+Python(Flask)+MySQL</div>
                                <div class="pr-name">Hospital Bed-Booking portal for covid-19 patients</div>
                                <div class="pr-info"> It is a Web application (DBMS mini-project) using which users can
                                    book beds of hospitals during the pandemic situation to avoid the spread of covid19
                                    and to get treatment on time.</div>
                                <div class="pr-link"><a
                                        href="https://github.com/abubakarmulla/Hospital-Bed-Booking-Portal-for-covid19-patients">CHECK
                                        IT OUT</a></div>
                            </div>
                        </div>
                        <div class="project">
                            <img src="../static/img/project2.jpg" alt="project2">
                            <div class="pr-details">
                                <div class="tech-used">HTML+CSS+JS</div>
                                <div class="pr-name">Personal Portfolio Website</div>
                                <div class="pr-info">It is my personal portfolio website made using core frontend
                                    technologies.</div>
                                <div class="pr-link"><a href="https://github.com/abubakarmulla/portfolio">CHECK IT
                                        OUT</a></div>
                            </div>
                        </div>
                        <div class="project">
                            <img src="../static/img/project3.jpg" alt="project3">
                            <div class="pr-details">
                                <div class="tech-used">Python(pygame)</div>
                                <div class="pr-name">Space Beast Game</div>
                                <div class="pr-info">It is a single player space fighting game made using pygame library
                                    of Python.</div>
                                <div class="pr-link"><a href="https://github.com/abubakarmulla/pyweek32-game">CHECK IT
                                        OUT</a></div>
                            </div>
                        </div>
                        <div class="project">
                            <img src="../static/img/project4.jpg" alt="project4">
                            <div class="pr-details">
                                <div class="tech-used">Python(pygame)</div>
                                <div class="pr-name">Drawing Console</div>
                                <div class="pr-info">It is a drawing and painting software made using pygame library of
                                    Python.</div>
                                <div class="pr-link"><a
                                        href="https://github.com/abubakarmulla/drawing-console-project">CHECK IT OUT</a>
                                </div>
                            </div>
                        </div>
                        <div class="project">
                            <img src="../static/img/project5.jpg" alt="project5">
                            <div class="pr-details">
                                <div class="tech-used">HTML+CSS+JS</div>
                                <div class="pr-name">Chrome extension for jokes</div>
                                <div class="pr-info">It is a simple jokes extension that runs on chrome browser made
                                    using core frontend technologies.</div>
                                <div class="pr-link"><a
                                        href="https://github.com/abubakarmulla/chrome-extension-jokes">CHECK IT OUT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-contain">
            <footer>
                <div class="footer-myinfo">
                    <h2 ondblclick="dblclick(this)">Abubakar Mulla</h2>
                    <p>Certified Python Developer and a Beginner Web developer</p>
                    <em>For more info contact me</em>
                    <div class="footer-info-icons">
                        <a href="https://github.com/abubakarmulla" target="_blank"><i class="fa fa-github fa-2x scaling"></i></a>
                        <a href="https://twitter.com/abubakarnmulla" target="_blank"><i class="fa fa-twitter fa-2x scaling"></i></a>
                        <a href="https://www.linkedin.com/in/abubakarmulla23/" target="_blank"><i class="fa fa-linkedin fa-2x scaling"></i></a>
                        <a href="https://www.facebook.com/people/Abubakar-Mulla/100077491524959/" target="_blank"><i class="fa fa-facebook fa-2x scaling"></i></a>
                    </div>
                </div>
                <div class="copyright-info">
                    <p>Copyright &copy;2022 AbubakarMulla, All rights reserved</p>
                    <p>Designed by</p>
                    <a href="https://github.com/abubakarmulla" target="_blank">Abubakar Mulla</a>
                </div>
            </footer>
        </div>
    </div>
    <script src="../static/js/main.js"></script>
</body>

</html>