<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abubakar Mulla, Software Engineer</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/img/am.ico" type="image/x-icon">
</head>

<body>
    <div class="body-and-footer">
        <div class="website-body">
            <div class="navbar navbar-go">
                <nav>
                    <img id="photo" src="../static/img/My_Photo_navbar.jpeg" alt="Abubakar_Img">
                    <h2 id="name">Abubakar Mulla</h2>
                    <ul>
                        <li><a href="/portfolio">Home</a></li>
                        <li><a href="/portfolio/about">About Me</a></li>
                        <li><a href="/portfolio/timeline">Timeline</a></li>
                        <li><a href="/portfolio/projects">Projects</a></li>
                        <li><a href="/portfolio/achievements">Achievements</a></li>
                        <li><a href="/portfolio/contact-us">Contact Me</a></li>
                    </ul>
                </nav>
            </div>
            <div class="main">
                <div class="hamburger">
                    <img src="../static/img/hamburger.png" alt="hamburger" class="ham" width="27px">
                    <img src="../static/img/cross.jpg" alt="cross" class="cross" width="27px">
                </div>
                <div class="timeline-contain">
                    <div class="education-contain">
                        <h1 class="edu-heading" onmouseover="mouse_over_event1(this)"
                            onmouseout="mouse_out_event1(this)" ondblclick="dblclick(this)">Education</h1>
                        <table class="styled-table" id="education-table">
                            <thead class="edu-table-head">
                                <tr class="edu-row">
                                    <th>College/School</th>
                                    <th>City</th>
                                    <th>Course</th>
                                    <th>GPA/Percent%</th>
                                    <th>Timeline</th>
                                </tr>
                            </thead>
                            <tbody class="edu-table-body">
                                <tr class="edu-row1">
                                    <td>BLDEACET</td>
                                    <td>Bijapur</td>
                                    <td>BE(Computer Science)</td>
                                    <td>8.345/10.75</td>
                                    <td>july 2019 - August 2023</td>
                                </tr>
                                <tr class="active-row">
                                    <td>TUNGAL PU SCIENCE COLLEGE</td>
                                    <td>Bijapur</td>
                                    <td>PUC(Science)</td>
                                    <td>85%</td>
                                    <td>June 2017 - April 2019</td>
                                </tr>
                                <tr class="edu-row2">
                                    <td>IQRA High School</td>
                                    <td>Bijapur</td>
                                    <td>SSLC</td>
                                    <td>87%</td>
                                    <td>June 2016 - April 2017</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="experience-contain">
                        <h1 class="edu-heading" onmouseover="mouse_over_event2(this)"
                            onmouseout="mouse_out_event2(this)" ondblclick="dblclick(this)">Experience</h1>
                        <table class="styled-table" id="experience-table">
                            <thead class="exp-table-head">
                                <tr class="exp-row">
                                    <th>Organization</th>
                                    <th>Mode</th>
                                    <th>Role</th>
                                    <th>Technology</th>
                                    <th>Timeline</th>
                                </tr>
                            </thead>
                            <tbody class="exp-table-body">
                                <tr class="exp-row">
                                    <td>Global Quest Technologies</td>
                                    <td>Remote</td>
                                    <td>Backend Python developer(Intern)</td>
                                    <td>Python,MySQL,HTML,CSS,JavaScript</td>
                                    <td>May 2022 - August 2022</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-contain">
            <footer>
                <div class="footer-myinfo">
                    <h2 ondblclick="dblclick(this)">Abubakar Mulla</h2>
                    <p>Certified Python Developer and a Beginner Web developer</p>
                    <em>For more info contact me</em>
                    <div class="footer-info-icons">
                        <a href="https://github.com/abubakarmulla" target="_blank"><i class="fa fa-github fa-2x scaling"></i></a>
                        <a href="https://twitter.com/abubakarnmulla" target="_blank"><i class="fa fa-twitter fa-2x scaling"></i></a>
                        <a href="https://www.linkedin.com/in/abubakarmulla23/" target="_blank"><i class="fa fa-linkedin fa-2x scaling"></i></a>
                        <a href="https://www.facebook.com/people/Abubakar-Mulla/100077491524959/" target="_blank"><i class="fa fa-facebook fa-2x scaling"></i></a>
                    </div>
                </div>
                <div class="copyright-info">
                    <p>Copyright &copy;2022 AbubakarMulla, All rights reserved</p>
                    <p>Designed by</p>
                    <a href="https://github.com/abubakarmulla" target="_blank">Abubakar Mulla</a>
                </div>
            </footer>
        </div>
    </div>
    <script src="../static/js/main.js"></script>
</body>

</html>